//Entradas y salidas asignadas a cada elemento electronico de la tarjeta NEXYS2
net "a" loc = "R17";//Entrada a asignada al switch SW7
net "b" loc = "N17";//Entrada a asignada al switch SW6
net "c" loc = "L13";//Entrada a asignada al switch SW5

net "salidaAND" loc = "R4";//Salida salidaAND asignada al led LD7
net "salidaOR" loc = "F4";//Salida salidaOR asignada al led LD6
net "salidaNOTa" loc = "P15";//Salida salidaNOTa asignada al led LD5
net "salidaNAND" loc = "E17";//Salida salidaNAND asignada al led LD4
net "salidaNOR" loc = "K14";//Salida salidaNOR asignada al led LD3
net "salidaXOR" loc = "K15";//Salida salidaXOR asignada al led LD2
net "salidaXNOR" loc = "J15";//Salida salidaXNOR asignada al led LD1

//Las salidas faltantes podran ser dirigidas a los puertos para que enciendan leds externos