//! **************************************************************************
// Written by: Map P.20131013 on Mon Jul 03 11:53:12 2023
//! **************************************************************************

SCHEMATIC START;
COMP "salidaNAND2" LOCATE = SITE "P15" LEVEL 1;
COMP "salidaOR" LOCATE = SITE "F4" LEVEL 1;
COMP "salidaNOTa" LOCATE = SITE "J15" LEVEL 1;
COMP "salidaAND" LOCATE = SITE "R4" LEVEL 1;
COMP "salidaXOR" LOCATE = SITE "K14" LEVEL 1;
COMP "salidaNOR2" LOCATE = SITE "E17" LEVEL 1;
COMP "salidaXNOR2" LOCATE = SITE "K15" LEVEL 1;
COMP "a" LOCATE = SITE "R17" LEVEL 1;
COMP "b" LOCATE = SITE "N17" LEVEL 1;
COMP "c" LOCATE = SITE "L13" LEVEL 1;
SCHEMATIC END;

