//! **************************************************************************
// Written by: Map P.20131013 on Fri Jul 28 05:23:49 2023
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "RW_BUFGP/IBUFG" BEL "RW_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

