//! **************************************************************************
// Written by: Map P.20131013 on Mon Apr 27 23:32:59 2020
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "led_out" LOCATE = SITE "J14" LEVEL 1;
COMP "rst" LOCATE = SITE "H13" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

