//! **************************************************************************
// Written by: Map P.20131013 on Sun Jul 23 11:24:42 2023
//! **************************************************************************

SCHEMATIC START;
COMP "PWM" LOCATE = SITE "L15" LEVEL 1;
COMP "rst" LOCATE = SITE "H13" LEVEL 1;
COMP "relojNexys2" LOCATE = SITE "B8" LEVEL 1;
NET "relojNexys2_BUFGP/IBUFG" BEL "relojNexys2_BUFGP/BUFG.GCLKMUX"
        USELOCALCONNECT;
SCHEMATIC END;

